mixin wrapper(classname)
  div(class=classname + '__container')
    div(class=classname + '__row')
      if block
        block

mixin pic(classname, srcset, alt)
  - classname = classname || '';
  - alt = alt || '';
  - srcset = srcset || '';
  - picname = srcset.substring(srcset.lastIndexOf("/") + 1, srcset.lastIndexOf("."));
  picture(class=classname)
    source(srcset=srcset)
    img(src="./assets/img/" + picname + ".webp", alt=alt)

mixin icon(classname, name)
  - classname = classname || ''
  svg(class=classname)
    use(xlink:href="./assets/img/svg/sprite.svg#" + name)

include ../modules/header/header
include ../components/filter/filter
include ../components/item/item
include ../components/buttons/buttons
include ../components/item/itemLink
include ../components/card/cardGray
include ../components/news/news
include ../components/filter/filterSimple
include ../components/accordion/accordion
