mixin filter(classname, name, options, multiple)
  - classname = classname || ''
  - multiple = multiple || false
  - name = name
  - options = options || []
  .filter-wrapper(class=classname)
    select(name='arr[]', multiple=multiple)
      each option in options
        option(
          value=option.value,
          selected=option.selected,
          hidden=option.hidden
          disabled=option.disabled
          default=option.default
          data-id=option.data_id
          data-type=option.data_type
          ) #{ option.name }
    .filter-header
      span.filter-name.text-filter-links #{name}
      span.filter-counter.text-breadcrumbs 0
